@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    line-height: 1.25em;
}
h2, h3{
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0px;
    font-family: 'Source-Sans-Pro';
}
p{
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.25em;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.tituloBranco{
    color: rgb(240, 248, 255);
}
header{
    background-color: #182837/*#103a53 /*#1a3441*/;
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#imgHeader{
    height: 100%;
    max-width: 70px;
}
#infoHeader > * {
    display: block;
    color: #d8bb7d;
    font-family: 'Allura';
    text-align: center;
    font-size: 2em;
}
#infoHeader > h1{
    font-size: 3em;
    text-decoration: underline;
}
#banner{
    width: 100%;
    max-width: 1000px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    background-color: #182837;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('imagens/banner.jpg');
    background-position: center;
}
#banner > h2{
    z-index: 2;
}
#blur{
    position: absolute;
    width: 100%;
    height: 100%;
}
@supports (backdrop-filter: blur(3px)){
    #blur{
        backdrop-filter: blur(3px);
    }
}
.contato{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: green;
    border-radius: 10px;
}
.contato > a{
    display: block;
    width: 100%;
    padding: 10px 30px;
    font-size: 1.25em;
    color: rgb(240, 248, 255);
}
#secAreasAtuacao{
    background-color: #1a3441 /*#121b20*/;
    padding: 20px;
    margin: 30px 0;
}
#atuacaoConteiner{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;

}
.autacao{
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #00A8FF /*#005281*/;
    padding: 10px 20px;
    width: 100%;
    height: 100%;

}
.autacao:hover{
    background-color: #005281;
    border-color: rgb(255, 228, 196);
}

.imgAtuacao{
    width: 50%;
    min-width: 100px;
}
.autacao > h3{
    font-size: 1.5em;
}

footer{
    padding: 10px 20px;
    background-color:#182837;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgFooter{
    width: 50px;
    padding: 5px;
    border-radius: 50%;
}
.imgFooter:hover{
    animation: giro 1s linear alternate-reverse;
}
#btfixo{
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 0;
    animation: wpp 1s linear alternate infinite;
}
@keyframes giro {
    to{
        transform: rotate(360deg);
    }
}
@keyframes wpp {
    to{
        transform: rotate(-180deg);
        opacity: .8;
    }
}
@media screen  and (max-width:630px){
    p{
        font-size: 1em;
    }
    #infoHeader > span{
        font-size: 1.5em;
    }
    #infoHeader > h1 {
        font-size: 2em;
    }
    
}